*{
	background: black;
	box-sizing: border-box;
}
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}
.button
{
	background: green;
	height: 100px;
}
