*{
	box-sizing: border-box;
	padding: 20px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 100px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  display: flex;
  width: 100%;
}